@import url("nulleble.css");
@font-face {
    font-family: Glitch;
    src: url(../fonts/titleFont.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

/* Стили первого блока страницы (блок с видео) */
.firstBlockContainer {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.firstBlockContent {
    position: relative;
    z-index: 2;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.6);
}
.firstBlockContent > * { max-width: 1200px; }
.firstBlockContent .title { 
    font-family: 'Glitch';
    font-size: 63px;
    color: #fff;
    margin-bottom: 80px;
}
.backgroundVideo {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.productInfo {
    display: flex;
    justify-content: center;
    column-gap: 120px;
    align-items: center;
}
.productInfo img { max-height: 80vh; width: auto;}
.productInfo > * { width: 50%; }
.productInfo ul li {
    margin: 0;
    padding: 0 0 0 60px;
    list-style: none;
    background-image: url("../img/marker.svg");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 30px;
    color: #fff;
    font-size: 21px;
    line-height: 120%;
}
.order {
    height: 60px;
    padding: 0 60px;
    width: fit-content;
    font-size: 16px;
    border-radius: 45px;
    border: 2px solid rgb(63, 17, 138);
    background-color: rgb(63, 17, 138);
    color: #fff;
    margin-top: 40px;
    font-weight: 500;
    transition: all .2s;
}
.order:hover { box-shadow: 0px 0px 20px rgb(75, 12, 175); }
.productInfo ul li:not(:last-child) { margin-bottom: 20px; }

/* Стили второго блока страницы (блок с ингридиентами) */
.secondBlockContainer {
    background: rgb(171,130,255);
    background: radial-gradient(circle, rgba(171,130,255,1) 0%, rgba(14,0,43,1) 100%);
    position: relative;
    z-index: 3;
}
.secondBlockContent {
    padding: 80px 0;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.ingredients {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
}
.item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.itemImage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    background-color: #fff;
    border-radius: 50%;
    padding: 25px 0;
}
.item img { width: 60%;}
.itemName {
    margin-top: 10px;
    font-size: 16px;
    color: #fff;
}
.productSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Стили четвертого блока страницы (блок-промо) */